.header
{
    display: flex;
    justify-content:space-between;
    border:2px solid black;
    
}


.head-logo{
    width: 150px;
    height: 100px;
    border-radius: 100%;
    margin:1rem 1rem;
}
.nav-items ul{
    display: flex;
    list-style: none;
}
.nav-items ul li{
    margin: 2rem 5rem;
    font-size: 2rem;
}
.restaurant-card{
    border: 2px solid black;
    width:min-content;
    height:fit-content;
    margin: 1rem 0.5rem;
    overflow-wrap: 2;
    padding: 1rem;
}
.restaurant-container{
    display: flex;
    
}